<font size="1" color="#323232">

<div align="center"><img src="$IMG_PATH;top_baner_mini.gif" /></div>

<!-- ﾌﾟﾛﾌ未設定 -->
$DIV_PROFILE_ATTENTION;
<div align="center">
<font color="#2d85fe">┏━━━━━━━━━━━━┓</font><br />
<font color="#FF6699" size="1">ﾌﾟﾛﾌｨｰﾙが未設定です。</font><br />
<form action="prof_setting_m.html">
<input name="message" type="submit" value="ﾌﾟﾛﾌ設定" />
</form>
<font color="#2d85fe">┗━━━━━━━━━━━━┛</font>
</div>
$DIV_END;
<!-- ﾌﾟﾛﾌ未設定END -->


<div align="center"><img src="$IMG_PATH;top_line1.gif" /></div>
<div align="center">
$HANDLE_NM;様$NBSP;/$NBSP;未読ﾒｰﾙ$NBSP;<a href="mail_box.html">$RX_MAIL_UNREAD_COUNT;</a>$NBSP;件<br />
$NBSP;┗所持ﾎﾟｲﾝﾄ$NBSP;<a href="point_purchase.html">$BAL_POINT;</a>$NBSP;pts
</div>
<div align="center"><img src="$IMG_PATH;top_line1.gif" /></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#01b527">
  <tr>
    <td height="16" align="center"><font size="1" color="#FFFFFF">NEWS　-ﾆｭｰｽ-</font></td>
  </tr>
</table>

<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center"><a href="event_info.html"><font size="2">○○ｲﾍﾞﾝﾄ開催中!</font></a></td>
  </tr>
  <tr>
    <td align="right"><a href="event_list.html"><font size="1" color="#666666">》ALLNEWS</font></a></td>
  </tr>
</table>

<hr size="1" width="90%" color="#fe2193" align="center" />

<font size="1">
<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center"><a href="point_get.html"><font color="#01b527">簡単ｽｸﾞﾎﾟｲﾝﾄｹﾞｯﾄ!<br />広告登録で遊び放題!</font></a></td>
  </tr>
</table>
</font>

<br />


<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fd186e">
  <tr>
    <td height="16" align="center"><font color="#FFFFFF">ｵﾝﾗｲﾝｶﾞｰﾙｽﾞ</font></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100" align="center"><img src="$IMG_PATH;lady_mini1_img.gif" /></td>
    <td width="140">
<a href="search.html"><font color="#f23d95">■ $LOGIN_CAST_COUNT_CAT1;人ﾛｸﾞｲﾝ中</font></a><br />
<a href="search.html"><font color="#f23d95">■ $TVTEL_CAST_COUNT_CAT1;人TV電話OK</font></a><br />
<a href="search.html"><font color="#f23d95">■ $TALKING_CAST_COUNT_CAT1;人のぞきOK</font></a><br />
<a href="search.html"><font color="#f23d95">■ 女の子を探す</font></a>	
	</td>
  </tr>
</table>

<div align="center"><img src="$IMG_PATH;top_line1.gif" /></div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="20" align="center"><font size="2" color="#FF6600">☆投稿ｺｰﾅｰ☆</font></td>
  </tr>
  <tr>
    <td align="center">
<font size="1">
<a href="photo_mail.html"><font color="#f23d95">写ﾒ画像掲示板</font></a><br />
<a href="intro_movie.html"><font color="#f23d95">ﾑｰﾋﾞｰ掲示板</font></a><br />
<font color="#CC3366">FREE</font>$NBSP;<a href="diary_list_new.html"><font color="#f23d95">新着日記一覧</font></a><br />
</font>
    </td>
  </tr>
</table>

<div align="center"><img src="$IMG_PATH;top_line1.gif" /></div>



<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f44299">
  <tr>
    <td height="16" align="center"><font size="1" color="#FFFFFF">MENU　-ﾒﾆｭｰ-</font></td>
  </tr>
</table>

<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="50%" height="80" align="center">
<a href="woman_search.html"><font color="#f44299">女の子検索</font></a>｜<a href="mail_box.html"><font color="#f44299">ﾒｰﾙBOX</font></a><br />
<a href="gallery_set_m.html"><font color="#f44299">無料ｷﾞｬﾗﾘｰ</font></a>｜<a href="event_list.html"><font color="#f44299">ｲﾍﾞﾝﾄ情報</font></a><br />
<a href="point_purchase.html"><font color="#f44299">ﾎﾟｲﾝﾄ購入</font></a>｜<a href="prof_set_m.html"><font color="#f44299">ﾌﾟﾛﾌ管理</font></a><br />
<a href="talk_list.html"><font color="#f44299">通話履歴</font></a>｜<a href="foot.html"><font color="#f44299">足あと</font></a><br />
<a href="favorite_list.html"><font color="#f44299">お気に入り</font></a>｜<a href="setting_m.html"><font color="#f44299">各種設定</font></a>
	</td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FF6600">
  <tr>
    <td height="16" align="center"><font color="#FFFFFF">PICK UP GIRLS</font></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100" align="center"><img src="$IMG_PATH;lady_mini1_img.gif" /></td>
    <td width="140">
<font color="#CC3366">ｵﾝﾗｲﾝ中</font><br />
<font color="#ff6600">名前：</font>☆まあや<br />
<font color="#ff6600">年齢：</font>25歳<br />
<font color="#ff6600">ｽﾀｲﾙ：</font>ｽﾚﾝﾀﾞｰ<br />
<a href="profile.html"><font color="#f23d95">》ﾌﾟﾛﾌを見る</font></a>	
	</td>
  </tr>
</table>

<hr size="1" width="90%" color="#FF6600" align="center" />

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100" align="center"><img src="$IMG_PATH;lady_mini1_img.gif" /></td>
    <td width="140">
<font color="#CC3366">ｵﾝﾗｲﾝ中</font><br />
<font color="#ff6600">名前：</font>☆まあや<br />
<font color="#ff6600">年齢：</font>25歳<br />
<font color="#ff6600">ｽﾀｲﾙ：</font>ｽﾚﾝﾀﾞｰ<br />
<a href=""><font color="#f23d95">》ﾌﾟﾛﾌを見る</font></a>	
	</td>
  </tr>
</table>

<hr size="1" width="90%" color="#FF6600" align="center" />



<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#5fa1fe">
  <tr>
    <td height="16" align="center"><font color="#FFFFFF">SEARCH　-検索-</font></td>
  </tr>
</table>

<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="80">
<a href="search.html"><font color="#2d85fe">■ ﾛｸﾞｲﾝ女性一覧</font></a><br />
<a href="woman_search.html"><font color="#2d85fe">■ 女性検索</font></a><br />
<a href="woman_new.html"><font color="#2d85fe">■ 新人の女の子</font></a><br />
<a href="tel_rank.html"><font color="#2d85fe">■ 通話時間ﾗﾝｷﾝｸﾞ</font></a><br />
<a href="mail_rank.html"><font color="#2d85fe">■ ﾒｰﾙ送信ﾗﾝｷﾝｸﾞ</font></a>
	</td>
  </tr>
</table>

<hr size="1" width="90%" color="#5fa1fe" align="center" />

<table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td height="80">
<a href="qa.html">■ よくある質問</a><br />
<a href="kiyaku1.html">■ 利用規約</a><br />
<a href="privacy.html">■ ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</a><br />
<a href="woman/gaiyou.html">■ 特定商取引法に基づく記載</a><br />
<a href="mailto:info@a-mm.tv">■ 問い合わせ</a>
	</td>
  </tr>
</table>







<hr size="1" width="90%" color="#666666" align="center" />
<div align="center">
<font color="#585757">
18歳未満利用禁止<br />
映像送信型性風俗特殊営業届出済
</font>
</div>
<hr size="1" width="90%" color="#666666" align="center" />


<div align="center"><img src="$IMG_PATH;footer_img.gif" /></div>

</font>
</body>
</html>
