<body bgcolor="#FFFFFF" style="margin: 0px; padding: 0px; width: 240px;" link="#2480fe" vlink="#2480fe">
<font size="1" color="#323232">

<div align="center"><img src="$IMG_PATH;top_baner_mini.gif" /></div>


<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f44299">
  <tr>
    <td align="center"><font size="1" color="#ffffff">登録〜利用までの流れ</font></td>
  </tr>
</table>




<!-- １セットSTART -->


<div align="center"><img src="$IMG_PATH;line1.gif" /></div>

<center>
<font color="#7a3c6f">■ ■STEP１■ ■</font>
<br><br>
<font size="2">まずは会員登録$xE6F5;</font>
</center>
<br>
<a href="regist1.html">新規無料会員登録</a>の<font color="#ff597d">[新規会員登録(空ﾒ送信)]</font>から空ﾒｰﾙを送信で１分でｶﾝﾀﾝ登録<br>

<br><br>

<center>
<font color="#7a3c6f">■ ■STEP２■ ■</font>
<br><br>
<font size="2">女の子を探す$xE6DC;</font><br>
</center>
<br>
ｵﾝﾗｲﾝ中の女の子や､検索機能を使ってお気に入りの女の子を探してください。<br>
<br><br>

<center>
<font color="#7a3c6f">■ ■STEP３■ ■</font>
<br><br>
<font size="2">女の子と電話$xE688;で直ﾄｰｸ$xE6ED;</font>
</center>
<br>

女の子とTV電話/音声電話/メールでお楽しみください。<br>
<div align="center"><img src="$IMG_PATH;line1.gif" /></div>
直前のﾍﾟｰｼﾞはお使いの携帯電話の戻るﾎﾞﾀﾝで
<div align="left"><a href="$SITE_TOP;"><font color="#e70157">←TOPへ</font></a></div>
<br />
<div align="center"><img src="$IMG_PATH;footer_img.gif" /></div>
</font>
