<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FanClubAdmission.aspx.cs" Inherits="ViComm_man_FanClubAdmission" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="cc1" Namespace="MobileLib" Assembly="MobileLib" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <mobile:Form id="frmMain" runat="server">
		$PGM_HTML01;
		<mobile:SelectionList ID="chkForceNonQuick" Runat="server" SelectType="CheckBox" Alignment="Left">		
			<Item Text="前回と別のｶｰﾄﾞを利用する" Value="1" Selected="false" />	
		</mobile:SelectionList>
		$PGM_HTML09;
    </mobile:Form>
</body>
</html>
