<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoginGoogle.aspx.cs" Inherits="ViComm_man_LoginGoogle" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="ibrid" Namespace="MobileLib" Assembly="MobileLib"%>