<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoginTwitter.aspx.cs" Inherits="ViComm_man_LoginTwitter" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="ibrid" Namespace="MobileLib" Assembly="MobileLib"%>