<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ModifyTalkHistoryMemo.aspx.cs" Inherits="ViComm_man_ModifyTalkHistoryMemo" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="tx" TagName="TextArea" Src="TextArea.ascx" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server">
	<cc1:iBMobileLiteralText ID="tag01" runat="server" /> 
	$PGM_HTML01; 
	<cc1:iBMobileTextBox ID="txtMemo" runat="server" Alignment="Center" MaxLength="300" Size="43"></cc1:iBMobileTextBox> 
	$PGM_HTML02;
	$PGM_HTML09;
	</mobile:Form>
</body>
</html>
