<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PaymentCreditTelecom.aspx.cs" Inherits="ViComm_man_PaymentCreditTelecom" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server" >
		$PGM_HTML01;
		$PGM_HTML02;
		<mobile:SelectionList ID="lstCreditPack" Runat="server"></mobile:SelectionList>
		$PGM_HTML06;
		$PGM_HTML09;
	</mobile:Form>
</body>
</html>
