﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PaymentSpsReturn.aspx.cs" Inherits="ViComm_man_PaymentSpsReturn" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="iBrid" Assembly="MobileLib" Namespace="MobileLib" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <mobile:Form id="frmMain" runat="server" Method="Post">
		$PGM_HTML01;
		$PGM_HTML09;
    </mobile:Form>
</body>
</html>
