<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RegistGameGetLoginBonus.aspx.cs" Inherits="ViComm_man_RegistGameGetLoginBonus" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="ibrid" Namespace="MobileLib" Assembly="MobileLib" %>