<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReLoginUser.aspx.cs" Inherits="ViComm_man_ReLoginUser" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server">
		 $PGM_HTML01;
		$PGM_HTML09;
	</mobile:Form>
</body>
</html>
