﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SetupWhitePlan.aspx.cs" Inherits="ViComm_man_SetupWhitePlan" %>

<%@ Register TagPrefix="ibrid" Namespace="MobileLib" Assembly="MobileLib" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <mobile:Form ID="frmMain" Runat="server">
		$PGM_HTML01;
        <mobile:SelectionList ID="rdoUseWhitePlan" Runat="server" SelectType="Radio" BreakAfter="false">
            <Item Text="ﾎﾜｲﾄﾌﾟﾗﾝを利用する" Value="1" />
            <Item Text="ﾎﾜｲﾄﾌﾟﾗﾝを利用しない" Value="0" Selected="True" />
        </mobile:SelectionList>
		$PGM_HTML02;
        $PGM_HTML09;
	</mobile:Form>
</body>
</html>
