<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TextArea.ascx.cs" Inherits="TextArea" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<asp:literal id="Literal2" runat="server"></asp:literal>
<asp:textbox id="TextBox1" runat="server" textmode="MultiLine" ></asp:textbox>
<asp:literal id="Literal1" runat="server"></asp:literal>
