<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewProfilePic.aspx.cs" Inherits="ViComm_man_ViewProfilePic" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server" ><cc1:iBMobileLiteralText ID="tag01" runat="server" /> 
	$PGM_HTML01;
	$PGM_HTML09;
	</mobile:Form>
</body>
</html>
