<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashLotteryNotComp.aspx.cs" Inherits="ViComm_man_ViewGameFlashLotteryNotComp" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
