<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewBlogObjs.aspx.cs" Inherits="ViComm_man_ViewBlogObjs" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <mobile:Form id="Form1" runat="server">

    </mobile:Form>
</body>
</html>
