<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashComplete.aspx.cs" Inherits="ViComm_man_ViewGameFlashComplete" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
