<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameCommunication.aspx.cs" Inherits="ViComm_man_ViewGameCommunication" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls"	Assembly="System.Web.Mobile"	%>
<%@ Register TagPrefix="ibrid"	Namespace="MobileLib"						Assembly="MobileLib"			%>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server">
		$PGM_HTML01;
		<ibrid:iBMobileLiteralText ID="tagDetail" runat="server" Text="$PGM_HTML08;" />
		<ibrid:iBMobileLiteralText ID="tagNoDataFound" runat="server" Text="$PGM_HTML06;" />
		$PGM_HTML09;
	</mobile:Form>
</body>
</html>
