<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashBattle.aspx.cs" Inherits="ViComm_man_ViewGameFlashBattle" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
