<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashLevelup.aspx.cs" Inherits="ViComm_man_ViewGameFlashLevelup" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
