<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashPartyBattle.aspx.cs" Inherits="ViComm_man_ViewGameFlashPartyBattle" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
