<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashBossBattle.aspx.cs" Inherits="ViComm_man_ViewGameFlashBossBattle" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
