﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>無題のページ</title>
</head>
<body>
	<form id="form1" runat="server">
		<div id="container">
			<div id="header">
				<asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="True" EnableScriptLocalization="True">
				</asp:ScriptManager>
				<asp:Label ID="Label1" runat="server" Text="iBrid Site Template" CssClass="sysname"></asp:Label>
				<asp:LinkButton ID="lnkLogout" runat="server" OnCommand="lnkLogout_Command" CssClass="logout">Logout</asp:LinkButton>
				<asp:LoginName ID="LoginName1" runat="server" CssClass="username" />
				<div id="navigation">
					<asp:Repeater ID="Repeater1" runat="server" DataSourceID="SiteMapDataSource1" EnableViewState="False">
						<HeaderTemplate>
							<ul>
						</HeaderTemplate>
						<ItemTemplate>
							<%#String.Format("<li><a href='{0}'>{1}</a></li>",Eval("url"), Eval("title"))%>
						</ItemTemplate>
						<FooterTemplate>
							</ul>
						</FooterTemplate>
					</asp:Repeater>
				</div>
			</div>
			<div id="content">
				<div id="categorymenu">
					<asp:Repeater ID="Repeater2" runat="server" DataSourceID="SiteMapDataSource2" EnableViewState="False">
						<HeaderTemplate>
							<ul>
						</HeaderTemplate>
						<ItemTemplate>
							<li><a id="A1" href='<%#Eval("url") %>' runat="server">
								<%#Eval("title") %>
							</a></li>
						</ItemTemplate>
						<FooterTemplate>
							</ul>
						</FooterTemplate>
					</asp:Repeater>
				</div>
				<div id="contentright">
					<div id="title">
						<asp:ContentPlaceHolder ID="HolderContentTitle" runat="server">
						</asp:ContentPlaceHolder>
					</div>
					<div id="contentborder">
						<asp:ContentPlaceHolder ID="HolderContent" runat="server">
							ここにコンテンツを挿入する・・・
						</asp:ContentPlaceHolder>
					</div>
				</div>
			</div>
			<div id="footer">
				<p>
					&copy;
					<asp:Label ID="lblCopyrightYear" runat="server" Text="2008" />
					<asp:Label ID="lblCopyrightName" runat="server" Text="Powerd by" EnableViewState="false" />
					<a href="http://www.ibrid.co.jp">iBrid Co. Ltd.</a>
				</p>
			</div>
		</div>
	</form>
	<asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="false" />
	<asp:SiteMapDataSource ID="SiteMapDataSource2" runat="server" ShowStartingNode="false" StartingNodeOffset="0" StartingNodeUrl="<%#GetNodeUrl() %>" />
</body>
</html>
