﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Header.aspx.cs" Inherits="Header" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title>無題のページ</title>
</head>
<body class="menu">
	<form id="form1" runat="server" target="_parent">
		<asp:Label ID="lblLocNm" runat="server" Text="MAQIA" CssClass="sysname"></asp:Label>
		<asp:LoginName ID="LoginName1" runat="server" CssClass="username" Visible="false" />
		<asp:LinkButton ID="lnkLogout" runat="server" OnCommand="lnkLogout_Command" CssClass="logout">Logout</asp:LinkButton>
	</form>
</body>
</html>
