﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Main.aspx.cs" Inherits="Main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title runat="server" id="titleNm">Vicomm Site Management</title>
</head>
<frameset cols="170px,*" frameborder="1">
	<frameset rows="26,*" frameborder="0" border="0">
		<frame src="Header.aspx" name="header" />
		<frame src="TreeMenu.aspx" name="menu" />
	</frameset>
	<frameset rows="*" frameborder="0" border="0">
		<frame src="DefaultDispatch.aspx" name="contents" />
	</frameset>
</frameset>
</html>
