﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="../../DeleteTalkHistory.aspx.cs" Inherits="ViComm_man_DeleteTalkHistory" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="tx" TagName="TextArea" Src="../../TextArea.ascx" %>

<script runat="server">
    protected override void OnLoad(EventArgs e) {
        Response.Filter = sessionMan.InitScreen(Response.Filter, frmMain, Request, ViewState);

        if (!IsPostBack) {
            using (TalkHistory oTalkHistory = new TalkHistory()) {
                oTalkHistory.DeleteTalkAllHistory(iBridCommLib.iBridUtil.GetStringValue(Request.QueryString["talkseq"]), sessionMan.userMan.userSeq);
            }

            RedirectToMobilePage(sessionMan.GetNavigateUrl(sessionMan.root + sessionMan.sysType, Session.SessionID, "ListTalkHistory.aspx"));
        }
    }
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server">
		<cc1:iBMobileLiteralText ID="tag01" runat="server" />
		$PGM_HTML01;
		$PGM_HTML09;
	</mobile:Form>
</body>
</html>
