﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" Title="Untitled Page"
    AutoEventWireup="true" CodeFile="DefaultWanted.aspx.cs" Inherits="Extension_DefaultWanted" %>

<asp:Content ID="ContentTitle" ContentPlaceHolderID="HolderContentTitle" runat="Server">
</asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="HolderContent" runat="Server">
</asp:Content>
