﻿div.emoji_palette
{
    width:		218px;
}

.emoji_item
{
	/* smart phone */
	border:solid 1px #F99;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-border-radius:3px;
    margin:2px;
}


.emoji_palette .emoji_pager a
{
	width:22px;
    margin:22x;
    padding:1px 0px;
    text-align:center;
    margin:2px 3px;
}
.emoji_palette .emoji_pager a.emoji_page
{
	border:solid 1px #F99;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-border-radius:2px;
}

div.emoji_buffer
{
	width:180px;
}

div.emoji_bs_key
{
	border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    margin-right:4px;
}
div.emoji_bs_key a
{

    width:26px;
    height:26px;
    padding-top:0px;
    padding-bottom:0px;
	font-size:18px;
    text-align:center;
    /*height:22px;
    padding:0px 0px;*/
}

div.emoji_item:hover
{
}

.emoji_item .emoji_item_inner
{
	height:26px;
	width:26px;
    padding:0px;
    background-repeat:no-repeat;
    background-position:center center;
    margin:2px;
}


.no-android-highlight
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.emoji_palette div.emoji_window_button a.emoji_palette_close
{
	font-size:1.6em;
	width:30px;
	padding:2px 6px;
	text-align:right;
}
