﻿/************************************************** 
CSS(Cascading Style Sheets) for Instant Shop
**************************************************/

/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:85% osaka, Verdana, Arial, Helvetica, sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
background:#e8eaec;
}

a{
color:#467aa7;
font-weight:bold;        
text-decoration:none;
background-color:inherit;
}

a:hover{
color:#2a5a8a; 
text-decoration:none; 
background-color:inherit;
}


a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}


tr.RowStyle td ul { padding-left:5px; margin-left:10px; list-style-type:disc; }
tr.AlternatingRowStyle td ul { padding-left:5px; margin-left:10px; list-style-type:disc; }

td.tdDataStyle ul { padding-left:5px; margin-left:10px; list-style-type:disc; }

/**************** Header and navigation styles ****************/

#container
{    
width:990px;          
margin:5px auto;       
padding:1px 0;             
height:740px; 
text-align:left;
background:#f0f0f0;
color:#303030;
border:2px solid #a0a0a0;
}

#header{
width:987px;          
margin:0 2px 0px 0px; 
filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#666666, GradientType=1);
padding:0 0 2px 0;
border-bottom: 3px solid #003399;
}

#header h1{
padding:20px 0 0 20px;  
font-size:2.4em;
background-color:inherit;
color:#ffffff;
letter-spacing:-2px;
font-weight:normal;     
font-family:HGP創英角ｺﾞｼｯｸUB;
}

#header h2{
margin:10px 0 0 40px;   
font-size:1.4em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;     
font-family:HGP創英角ｺﾞｼｯｸUB;
}

#header h4{
margin:5px 0 0 5px;   
font-size:1.4em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;     
font-family:HGP創英角ｺﾞｼｯｸUB;
}

.sysname{
float:left;
margin:2px 0px 0px 10px;     
font-size:0.8em;
text-align: right;
border-bottom:solid 1px #999999;
font-style: italic;
font-weight:bold;
}

.username{
float:right;
margin:2px 5px 5px 0;     
font-size:0.8em;
text-align: right;
color:#ffffff;
}

.logout{
float:right;
margin:2px 5px 5px 0;     
font-size:0.8em;
text-align: right;
color:#ffffff;
}

.reccount{
float:left;
margin:0px 5px 0px 0px;     
text-align: right;
font-size:0.9em;
color:#FF8C00;
}

.viewpage{
float:right;
margin:0px 12px 0px 0px;     
text-align: right;
font-size:0.9em;
color:#FF8C00;
}

.button{
clear:both;
margin:4px 5px 0px 0;     
}

.seekbutton{
float:left;
margin:2px 5px 0px 0;     
}

#navigation{
height:1.8em;
line-height:1.8em;
width:988px;                  
background:#578bb8;
color:#ffffff;
}

#navigation li{
float:left;
list-style-type:none;
border-right:px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0 10px;                
font-size:0.8em;                
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #ffffff;
border-left: 4px solid #f0f0f0;
}

* html #navigation a {width:1%;}

#navigation .selected, #navigation a:hover{
background:#80b0da;
color:#ffffff;
text-decoration:none;
border-left: 4px solid #ff0066;   
}

#login {
float:right;  
width:7em; 
text-align:right;
margin-right:6px;
}

#login a{
display:block;
padding:0 10px;
font-size:0.8em;    
font-weight:bold;
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #ffffff;
}

#logn a:hover{
background:#80b0da;
color:#ffffff;
text-decoration:none;
}

#breadcrumbs
{
float:right;
width:980px;       
height:0.8em;       
color:#000000;
margin:0 5px 5px 0;
font-size:0.8em; 
text-align:right;
}

#breadcrumbs a{
color:#000000;
background-color:inherit; 
font-size:0.8em; 
font-weight:normal;
}

#breadcrumbs a:hover{
color:#000000; 
background-color:inherit;
text-decoration:underline;
}

/**************** Content styles ****************/

#content{
float:left; 
width:990px;           
font-size:0.9em;
padding:0px 0px 0px 0px;  
}

#content h2{
display:block;
margin:0 0 16px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#content h2 a{
font-weight:normal;
}

#content h3{
margin:5px 0 5px 0;  
font-size:1.1em;    
letter-spacing:-1px;
}

.contentdata {
float:left;
width:960px;    
}  

#contentborder{
}

/**************** Admin Content Left/Right styles ****************/

#adminmenu {
clear: left;
float: left;
width: 150px;
margin: 0 0 10px 0;
padding: 0;
font-size: 0.9em;
}

#adminmenu ul {	
list-style: none;
width: 150px;
margin: 0 0 10px 0;    
padding: 0;
font-size: 1.1em;
}	

#adminmenu li {
margin-bottom: 4px;
}

#adminmenu li a {
font-weight: bold;
height: 20px;
text-decoration: none;
color: #505050;
display: block;
padding: 6px 0 0 10px;
background: #f4f4f4;
border-left: 4px solid #cccccc;
}	
	
#adminmenu li a:hover {
background: #eaeaea;
color: #467aa7; 
border-left: 4px solid #467aa7; 
}

#contentright
{
float:none;
width:auto;
height:700px; 
font-size:1em;
padding:0px 0px 0px 4px;
margin:0px 0px 0px 0px;
border-left: 1px solid #003399;
background:#ffffff;
}

#contentright h2{
display:block;
margin:0 0 10px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#contentright h2 a{font-weight:normal;}
#contentright h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}


/**************** Program title ****************/
#title{
text-align:left;
font-weight:bolder;
font-size:1.4em;
background-color:#555555; 
color:#ffffff; 
padding:3px 0px 3px 10px;
margin:2px 2px 0px 0px;
}


/**************** Data control styles *************/
fieldset{
padding:4px 0px 10px 10px;    
}

.fieldset-inner{
padding:2px 10px 6px 10px;    
margin:0px 10px 0px 0px;
}

/**************** Footer styles ****************/

#footer{
clear:both;
width:988px;  
padding:5px 0;
margin:0 1px;
font-size:0.9em;
border-top: 1px solid #003399;
}

#footer p{
padding:0; 
margin:0; 
text-align:center;
}

#footer a
{
background-color:inherit; 
font-weight:normal;    
}

#footer a:hover{
color:#FF0033; 
background-color:inherit; 
text-decoration: underline;
}

/**************** Misc classes and styles ****************/

.validatorCallout {
background-color: #fffacd; 
}

.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

.box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

div.right {float:right}

/* checkout step */
.checkoutactive{
color:#467aa7; 
font-weight:bold; 
border:solid 1px #467aa7;
border-bottom-width:3px;
padding:3px;
}

/* waterark styles */
.unwatermarked {
height:18px;
width:148px;
font-weight:bold;
}

.watermarked {
height:18px;   
width:148px;    
padding:2px 0 0 2px;
color:gray;
}

/**************** CSS for Default.aspx ****************/
/**************** CSS for Default.aspx/Products.aspx ****************/   

#categorymenu {
clear: left;
float: left;
width: 120px;
height:auto; 
font-size: 0.9em;
background: #f0f0f0;
margin:0px 0 0 0px;
}

#categorymenu ul {	
list-style: none;
width: 90px;
padding: 0;
font-size: 1.1em;
}	

#categorymenu li {
}

#categorymenu li a {
font-weight: bold;
font-size: 0.8em;
width: 106px;
height: 18px;
text-decoration: none;
color: #505050;
display: block;
margin-left: 0px;
padding: 4px 0px 4px 10px;
background: #f0f0f0;
}	
	
#categorymenu li a:hover {
background: #eaeaea;
color: #467aa7;                   
width: 106px;
border-left: 4px solid #ff0066;   
}

#topmessage{
float:none; 
width:auto;
margin-left:160px;
margin-right:10px;
}

#productsbycategory{
float:none; 
width:auto;
margin-left:160px;
margin-right:10px;
}

/**************** CSS for OrderInfo.aspx ****************/
.orderlist{
float: left;  
width: 50%;
padding-right: 10px;
}

.orderdetails {
width:auto;
}  

/**************** CSS for admin/Customers.aspx ****************/
.admincustomers{
float: left;
width: 33%;
padding-right: 10px;
}

.admincustomerdetail {
width:auto;
}    

/**************** CSS for admin/Orders.aspx ****************/
.admincustomerlist 
{
float:left;
width: 100%;
}

.adminorderlist {
float:left; 
margin-left:0; 
margin-right:5px; 
width:300px; 
}

.adminorderdetails {
float:left; 
width:auto; 
}

.admincontent{
width:860px; 
}

/**************** CSS for PrivacyPolicy.aspx ****************/ 


/*************** Table Styles ************/  

.tableStyle{
width:840px;
border-width: 1px;
border-collapse: collapse;
border :solid 1px #578bb8;
}

.tableStyleNoBorder{
width:840px;
border-width: 1px;
border-collapse: collapse;
border :solid 1px #ffffff;
}
    

.tdStyle{
padding-left:5px;    
background-color: #578bb8;
color:White;
}    


.tdHeaderStyle{
width:138px;
height:28px;
padding-left:6px;    
background-color: #578bb8;
border-bottom :solid 1px #ffffff;
color:White;
} 
  
.tdHeaderStyle2{
width:138px;
padding-left:6px;    
background-color: #578bb8;
border-bottom :solid 1px #578bb8;
color:White;
} 
  

.tdDataStyle{
padding-top:2px;    
padding-left:2px;    
padding-right:2px;    
border :solid 1px #578bb8;
border-bottom :solid 1px #578bb8;
}   

.tdDataNoBorderStyle{
padding-left:2px;    
padding-right:2px;    
border :solid 1px #ffffff;
border-bottom :solid 1px #ffffff;
}   

.tdDataNumStyle{
padding-left:2px;    
padding-right:2px;    
border :solid 1px #578bb8;
border-bottom :solid 1px #578bb8;
}   

.tdDataNumNoBorderStyle{
padding-left:2px;    
padding-right:2px;    
border :solid 1px #ffffff;
border-bottom :solid 1px #ffffff;
}   

.tdDataStyle select,.tdDataStyle input,.tdDataStyle textarea {
font-size: 100%;
padding-left:2px;    
}

.tdDataNoBorderStyle select,.tdDataNoBorderStyle input,.tdDataNoBorderStyle textarea {
font-size: 100%;
padding-left:2px;    
}

.tdDataNumStyle select,.tdDataNumStyle input,.tdDataNumStyle textarea {
font-size: 100%;
padding-right:2px;    
text-align:right;
}

.tdDataNumNoBorderStyle select,.tdDataNumNoBorderStyle input,.tdDataNumNoBorderStyle textarea {
font-size: 100%;
padding-right:2px;    
text-align:right;
}

/*************** Data Web Control Styles ************/

.DataWebControlStyle{
font-size: 100%;
width:840px;
}

.HeaderStyle{
background-color: #578bb8;
color: White;
font-weight: bold;
text-align:center;
}

.HeaderStyle a, .HeaderStyle a:visited{
color: White;
padding:0px 4px 0px 4px;
}

.VerHeaderStyle{
background-color: #578bb8;
color: White;
font-weight: bold;
text-align:left;
padding:0px 0px 0px 4px;
width:180px;
}

.VerHeaderStyle a, .VerHeaderStyle a:visited{
color: White;
padding:0px 4px 0px 4px;
}


.FooterStyle{
background-color: #ffffff;
color: #000000;
text-align: right;
}

.AlternatingRowStyle{
background-color: #ffffff;
}

.AlternatingRowStyle td{
padding:0px 6px 0px 6px;
}

.RowStyle{
background-color: #ffffff;
}

.RowStyle td{
padding:0px 6px 0px 6px;
}

.SelectedRowStyle{
background-color:White;
}

.PagerRowStyle{
background-color: #ffffff;
text-align: right;
}

.SortHeaderRowStyle{
background-color: #578bb8;
text-align: left;
font-weight: bold;
color: White;
}  


