<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GameSample.aspx.cs" Inherits="ViComm_woman_GameSample" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<%@ Register TagPrefix="ibrid" Namespace="MobileLib" Assembly="MobileLib" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server">
		$PGM_HTML01;
		$PGM_HTML08;
		$PGM_HTML09;
	</mobile:Form>
</body>
</html>
