<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoginUserByTwitterId.aspx.cs" Inherits="ViComm_woman_LoginUserByTwitterId" %>

<%@ Register Assembly="MobileLib" Namespace="MobileLib" TagPrefix="cc1" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<mobile:Form ID="frmMain" Runat="server" >
	</mobile:Form>
</body>
</html>
