<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashSupportBattle.aspx.cs" Inherits="ViComm_woman_ViewGameFlashSupportBattle" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
