<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashLottery.aspx.cs" Inherits="ViComm_woman_ViewGameFlashLottery" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
