<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashGetCastTreasure.aspx.cs" Inherits="ViComm_woman_ViewGameFlashGetCastTreasure" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
