<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewGameFlashMokuhyo.aspx.cs" Inherits="ViComm_woman_ViewGameFlashMokuhyo" %>
<%@ Register TagPrefix="mobile" Namespace="System.Web.UI.MobileControls" Assembly="System.Web.Mobile" %>
