/************************************************** 
CSS
**************************************************/

*
{
	margin: 0;
	padding: 0;
}

body
{
	text-align: left;
	font: 85% osaka, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	color: #303030;
	background: #e8eaec;
}

body.menu
{
	text-align: left;
	font: 85% osaka, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	background: #e8eaec; /*	background: #578bb8;*/
}

a
{
	color: #467aa7;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
}

a:hover
{
	color: #2a5a8a;
	text-decoration: none;
	background-color: inherit;
}


a img
{
	border: none;
}

p
{
	padding: 0 0 1.6em 0;
}
p form
{
	margin-top: 0;
	margin-bottom: 20px;
}

img.left, img.center, img.right
{
	padding: 4px;
	border: 1px solid #a0a0a0;
}
img.left
{
	float: left;
	margin: 0 12px 5px 0;
}
img.center
{
	display: block;
	margin: 0 auto 5px auto;
}
img.right
{
	float: right;
	margin: 0 0 5px 12px;
}


tr.RowStyle td ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}
tr.AlternatingRowStyle td ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

td.tdDataStyle ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

/**************** Header and navigation styles ****************/

#container
{
	width: 1230px; /*width: 99%;*/
	margin: 1px 0px 0px 7px;
	padding: 1px 0;
	text-align: left;
	background: #f0f0f0;
	color: #303030;
	border: 1px solid #a0a0a0;
	float: left;
}

#smallcontainer
{
	width: 1230px; /*width: 99%;*/
	height: 240px;
	margin: 5px auto;
	padding: 1px 0;
	text-align: left;
	background: #f0f0f0;
	color: #303030;
	border: 2px solid #a0a0a0;
}

#header
{
	width: 1228px; /*width: 100%;*/
	margin: 0px 2px 0px 0px;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#666666, GradientType=1);
	padding: 0 0 2px 0;
}

#header h1
{
	padding: 20px 0 0 20px;
	font-size: 2.4em;
	background-color: inherit;
	color: #ffffff;
	letter-spacing: -2px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

#header h2
{
	margin: 10px 0px 0px 40px;
	font-size: 1.4em;
	background-color: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

#header h4
{
	margin: 5px 0px 0px 5px;
	font-size: 1.4em;
	background-color: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

.sysname
{
	float: left;
	margin: 2px 0px 0px 10px;
	font-size: 0.8em;
	text-align: right;
	border-bottom: solid 1px #999999;
	font-style: italic;
	font-weight: bold;
}

.username
{
	margin: 2px 5px 5px 0px;
	font-size: 0.8em;
	text-align: right;
	color: Gray;
}

.logout
{
	float: right;
	margin: 2px 5px 5px 0px;
	font-size: 0.8em;
	text-align: right;
	color: Gray;
}

.reccount
{
	float: left;
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: 0.9em;
	color: #FF8C00;
}

.gridtotal
{
	float: right;
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: 0.9em;
	color: #FF8C00;
}

.viewpage
{
	float: right;
	margin: 0px 12px 0px 0px;
	text-align: right;
	font-size: 0.9em;
	color: #FF8C00;
}

.button
{
	clear: both;
	margin: 4px 5px 0px 0;
}

.seekbutton
{
	float: left;
	margin: 2px 5px 0px 0;
}

.seektopbutton
{
	float: left;
	margin: 0px 5px 4px 0;
}

.seekrightbutton
{
	float: right;
	margin: 4px 0px 0px 5px;
}

.seekbottombutton
{
	clear: both;
	margin: 0px 5px 6px 0;
}


#mainmenu
{
	width: 195px;
	margin: 0px 5px 20px 5px;
	text-align: left;
	padding: 2px;
}

#mainmenu a
{
	display: block;
}

#mainmenu a:hover
{
	color: White;
	text-decoration: none;
	background-color: Teal;
}


#navigation
{
	height: 1.8em;
	line-height: 1.8em;
	width: 1028px;
	background: #578bb8;
	color: #ffffff;
}

#navigation li
{
	float: left;
	list-style-type: none;
	border-right: px solid #ffffff;
	white-space: nowrap;
}

#navigation li a
{
	display: block;
	padding: 0 10px;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
	border-left: 2px solid #f0f0f0;
}

#navigation .selected, #navigation a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
	border-left: 2px solid #ff0066;
}

* html #navigation a
{
	width: 1%;
}

#categorymenu
{
	line-height: 1.4em;
	width: 1028px;
	background: #696969;
	color: #ffffff;
}

#categorymenu ul
{
	border-bottom: 1px solid #ffffff;
}

#categorymenu li
{
	float: left;
	list-style-type: none;
	white-space: nowrap;
}

#categorymenu li a
{
	display: block;
	padding: 0 10px;
	font-size: 0.7em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
	border-left: 2px solid #f0f0f0;
}

#categorymenu .selected, #categorymenu a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
	border-left: 2px solid #ff0066;
}


#login
{
	float: right;
	width: 7em;
	text-align: right;
	margin-right: 6px;
}

#login a
{
	display: block;
	padding: 0 10px;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
}

#logn a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
}


/**************** Content styles ****************/

#content
{
	float: left;
	width: 1230px; /*width: 100%;*/
	font-size: 0.9em;
	padding: 0px 0px 0px 0px;
}

#content h2
{
	display: block;
	margin: 0 0 16px 0;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background-color: inherit;
}

#content h2 a
{
	font-weight: normal;
}

#content h3
{
	margin: 5px 0 5px 0;
	font-size: 1.1em;
	letter-spacing: -1px;
}

.contentdata
{
	float: left;
	width: 960px;
}

#contentborder
{
}

/**************** Admin Content Left/Right styles ****************/

#adminmenu
{
	clear: left;
	float: left;
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
}

#adminmenu ul
{
	list-style: none;
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1.1em;
}

#adminmenu li
{
	margin-bottom: 4px;
}

#adminmenu li a
{
	font-weight: bold;
	height: 20px;
	text-decoration: none;
	color: #505050;
	display: block;
	padding: 6px 0 0 10px;
	background: #f4f4f4;
	border-left: 2px solid #cccccc;
}

#adminmenu li a:hover
{
	background: #eaeaea;
	color: #467aa7;
}

#contentright
{
	float: none;
	width: auto;
	height: auto;
	font-size: 1em;
	padding: 0px 0px 0px 4px;
	margin: 0px 0px 0px 0px;
	background: #ffffff;
}

#contentright h2
{
	display: block;
	margin: 0 0 10px 0;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background-color: inherit;
}

#contentright h2 a
{
	font-weight: normal;
}
#contentright h3
{
	margin: 0 0 5px 0;
	font-size: 1.4em;
	letter-spacing: -1px;
}


/**************** Program title ****************/
#title
{
	text-align: left;
	font-weight: bolder;
	font-size: 1.4em;
	background-color: #555555;
	color: #ffffff;
	padding: 3px 0px 3px 10px;
	margin: 0px 2px 2px 2px;
}


/**************** Data control styles *************/
fieldset
{
	text-align: left;
	padding: 4px 0px 10px 10px;
}

.fieldset-inner
{
	text-align: left;
	padding: 2px 4px 6px 4px;
	margin: 0px 10px 0px 0px;
}

/**************** Footer styles ****************/

#footer
{
	clear: both;
	width: 1228px; /*width: 100%;*/
	padding: 5px 0;
	margin: 0 1px;
	font-size: 0.9em;
	border-top: 1px solid #003399;
}

#footer p
{
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer a
{
	background-color: inherit;
	font-weight: normal;
}

#footer a:hover
{
	color: #FF0033;
	background-color: inherit;
	text-decoration: underline;
}

/**************** Misc classes and styles ****************/

.validatorCallout
{
	background-color: #fffacd;
}

.clear
{
	clear: both;
}
.small
{
	font-size: 0.8em;
}
.hide
{
	display: none;
}
.textcenter
{
	text-align: center;
}
.textright
{
	text-align: right;
}
.important
{
	color: #f02025;
	background-color: inherit;
	font-weight: bold;
}

.box
{
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background-color: #fafbfc;
	color: #505050;
	line-height: 1.5em;
}

.panel
{
	margin: 0px;
}

div.right
{
	float: right;
}

.admincontent
{
	width: 1223px; /*width: 100%;*/
}

/*************** Table Styles ************/
.smallTableStyle
{
	width: 180px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #578bb8;
}


.tableStyle
{
	width: 900px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #578bb8;
}

.tableStyleAutoSize
{
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #578bb8;
}

.tableStyleBorderBlack
{
	width: 900px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #000000;
}

th
{
}

.tdStyle
{
	padding-left: 5px;
	background-color: #578bb8;
	color: White;
}


.tdHeaderStyle
{
	width: 138px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}

.tdHeaderSmallStyle
{
	width: 70px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}

.tdHeaderVerySmallStyle
{
	width: 80px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}


.tdHeaderStyle2
{
	width: 138px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	color: White;
}
.tdHeaderStyle3
{
	width: 138px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	border-top: solid 1px #578bb8;
	color: White;
}
.tdHeaderSmallStyle2
{
	width: 70px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	color: White;
}
.tdHeaderSmallStyle3
{
	width: 70px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	border-top: solid 1px #578bb8;
	color: White;
}


.tdHeaderWidthDynamicStyle
{
	height: 22px;
	padding-left: 6px;
	padding-right: 15px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}

.tdHeaderWidthDynamicStyle2
{
	height: 22px;
	padding-left: 6px;
	padding-right: 15px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	color: White;
}

.tdHeaderSmallStyleL
{
	width: 70px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-left: solid 1px #ffffff;
	color: White;
}

.tdHeaderSmallStyle2L
{
	width: 70px;
	height: 22px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
	border-left: solid 1px #ffffff;
	color: White;
}

.tdDataStyle
{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #578bb8;
	border-bottom: solid 1px #578bb8;
}

.tdDataNoBorderStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.tdDataNumStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #578bb8;
	border-bottom: solid 1px #578bb8;
}

.tdDataNumNoBorderStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.tdDataStyle select, .tdDataStyle input, .tdDataStyle textarea
{
	font-size: 100%;
	padding-left: 2px;
}

.tdDataNoBorderStyle select, .tdDataNoBorderStyle input, .tdDataNoBorderStyle textarea
{
	font-size: 100%;
	padding-left: 2px;
}

.tdDataNumStyle select, .tdDataNumStyle input, .tdDataNumStyle textarea
{
	font-size: 100%;
	padding-right: 2px;
	text-align: right;
}

.tdDataNumNoBorderStyle select, .tdDataNumNoBorderStyle input, .tdDataNumNoBorderStyle textarea
{
	font-size: 100%;
	padding-right: 2px;
	text-align: right;
}

.tdDetailsViewStyle
{
	border-width: 1px;
	border: #808080;
}

.tdDetailsViewFieldHeaderStyle
{
	width: 150px;
	border-width: 1px;
	border: #d4d0c8;
}

.tdDetailsViewFieldDataStyle
{
	border-width: 1px;
	border: #d4d0c8;
}

.tdSampleDataStyle
{
	background-color: #f5f5f5;
}

/*************** Data Web Control Styles ************/

.DataWebControlStyle
{
	font-size: 100%;
}

.HeaderStyle
{
	background-color: #578bb8;
	color: White;
	font-weight: bold;
	text-align: center;
	width: auto;
}

.HeaderStyle th
{
	padding: 0px 4px 0px 4px;
}

.HeaderStyle a, .HeaderStyle a:visited
{
	color: White;
	padding: 0px 4px 0px 4px;
}

.VerHeaderStyle
{
	background-color: #578bb8;
	color: White;
	font-weight: bold;
	text-align: left;
	padding: 0px 0px 0px 4px;
	width: 134px;
}

.VerHeaderStyle2
{
	background-color: #578bb8;
	color: White;
	font-weight: bold;
	text-align: left;
	padding: 0px 0px 0px 4px;
	width: 91px;
}

.VerHeaderStyle a, .VerHeaderStyle a:visited
{
	color: White;
	padding: 0px 4px 0px 4px;
}


.FooterStyle
{
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}

.FooterStyle td
{
	padding: 0px 6px 0px 6px;
}

.AlternatingRowStyle
{
	background-color: #ffffff;
}

.AlternatingRowStyleColor
{
	background-color: #EFF3FB;
}

.AlternatingRowStyle td
{
	padding: 0px 6px 0px 6px;
}

.AlternatingRowStyleColor td
{
	padding: 0px 6px 0px 6px;
}

.RowStyle
{
	background-color: #ffffff;
}

.RowStylePad
{
	background-color: #ffffff;
	padding: 0px 6px 0px 6px;
}

.AlternatingRowStyleNoPad
{
	background-color: #EFF3FB;
}
.RowStyle td
{
	padding: 0px 6px 0px 6px;
}

.RowStyleNoPad td
{
	padding: 0px 0px 0px 0px;
}

.AlternatingRowStyleNoPad td
{
	padding: 0px 0px 0px 0px;
}

.RowStyleSunday
{
	background-color: #ffcccc;
}

.RowStyleSatday
{
	background-color: #ccccff;
}


.SelectedRowStyle
{
	background-color: White;
}

.PagerRowStyle
{
	background-color: #ffffff;
	text-align: right;
}

.SortHeaderRowStyle
{
	background-color: #578bb8;
	text-align: left;
	font-weight: bold;
	color: White;
}

.bottomSpace
{
	margin: 0px 0px 4px 0px;
}


.NumPad
{
	padding: 0px 6px 0px 6px;
}

.Pad
{
	padding: 0px 4px 0px 4px;
}

.Warp
{
	word-wrap: break-word;
}


/* ajax__tab_yuitabview-theme theme (img/yui/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header
{
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 12px;
	border-bottom: solid 5px #2647a0;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer
{
	background: url(img/yui/sprite.png) #d8d8d8 repeat-x;
	margin: 0px 0.16em 0px 0px;
	padding: 1px 0px 1px 0px;
	vertical-align: bottom;
	border: solid 1px #a3a3a3;
	border-bottom-width: 0px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{
	color: #000;
	padding: 0.35em 0.75em;
	margin-right: 0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer
{
	background: url(img/yui/sprite.png) #bfdaff repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
	background: url(img/yui/sprite.png) #2647a0 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body
{
	font-family: verdana,tahoma,helvetica;
	font-size: 10pt;
	padding: 8px; /*background-color:#edf5ff;    */
	border: solid 1px #808080;
	border-top-width: 0px;
}

.delBtnStyle
{ 
  float : right;
  margin : 0 10px 0 0;
}

.f_clear
{
  clear: both;
}

.new_label
{ 
  font-size : 10px;
  color : red;
}

