<%@ Page language="c#" Codebehind="WebForm1.aspx.cs" AutoEventWireup="false" Inherits="sample_xml_rpc.WebForm1" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>WebForm1</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<FONT face="MS UI Gothic">
				<asp:textbox id="TextBox1" style="Z-INDEX: 101; LEFT: 224px; POSITION: absolute; TOP: 144px"
					runat="server" Width="248px"></asp:textbox><asp:button id="Button1" style="Z-INDEX: 102; LEFT: 488px; POSITION: absolute; TOP: 144px" runat="server"
					Width="40px" Text="Button"></asp:button>
				<asp:Label id="Label1" style="Z-INDEX: 103; LEFT: 224px; POSITION: absolute; TOP: 216px" runat="server"
					Width="296px" Height="72px">Label</asp:Label></FONT></form>
	</body>
</HTML>
