<%@ Page language="c#" Codebehind="WebForm2.aspx.cs" AutoEventWireup="false" Inherits="sample_xml_rpc.WebForm2" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>WebForm2</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<FONT face="MS UI Gothic">
				<asp:Label id="Label1" style="Z-INDEX: 101; LEFT: 224px; POSITION: absolute; TOP: 96px" runat="server"
					Width="264px" Height="24px">Label</asp:Label>
				<asp:Label id="Label2" style="Z-INDEX: 102; LEFT: 224px; POSITION: absolute; TOP: 136px" runat="server"
					Height="112px" Width="280px">Label</asp:Label></FONT>
		</form>
	</body>
</HTML>
