/************************************************** 
CSS
**************************************************/

*
{
	margin: 0;
	padding: 0;
}

body
{
	font: 85% osaka, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	text-align: center;
	color: #303030;
	background: #e8eaec;
}

a
{
	color: #467aa7;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
}

a:hover
{
	color: #2a5a8a;
	text-decoration: none;
	background-color: inherit;
}


a img
{
	border: none;
}

p
{
	padding: 0 0 1.6em 0;
}
p form
{
	margin-top: 0;
	margin-bottom: 20px;
}

img.left, img.center, img.right
{
	padding: 4px;
	border: 1px solid #a0a0a0;
}
img.left
{
	float: left;
	margin: 0 12px 5px 0;
}
img.center
{
	display: block;
	margin: 0 auto 5px auto;
}
img.right
{
	float: right;
	margin: 0 0 5px 12px;
}


tr.RowStyle td ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}
tr.AlternatingRowStyle td ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

td.tdDataStyle ul
{
	padding-left: 5px;
	margin-left: 10px;
	list-style-type: disc;
}

/**************** Header and navigation styles ****************/

#container
{
	width: 740px;
	margin: 5px auto;
	padding: 1px 0;
	text-align: left;
	background: #f0f0f0;
	color: #303030;
}

#smallcontainer
{
	width: 740px;
	height: 240px;
	margin: 5px auto;
	padding: 1px 0;
	text-align: left;
	background: #f0f0f0;
	color: #303030;
	border: 2px solid #a0a0a0;
}

#header
{
	width: 738px;
	margin: 0px 2px 0px 0px;
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#666666, GradientType=1);
	padding: 0 0 2px 0;
}

#header h1
{
	padding: 20px 0 0 20px;
	font-size: 2.4em;
	background-color: inherit;
	color: #ffffff;
	letter-spacing: -2px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

#header h2
{
	margin: 10px 0px 0px 40px;
	font-size: 1.4em;
	background-color: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

#header h4
{
	margin: 5px 0px 0px 5px;
	font-size: 1.4em;
	background-color: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal;
	font-family: HGP創英角ｺﾞｼｯｸUB;
}

.sysname
{
	float: left;
	margin: 2px 0px 0px 10px;
	font-size: 0.8em;
	text-align: right;
	border-bottom: solid 1px #999999;
	font-style: italic;
	font-weight: bold;
}

.username
{
	float: right;
	margin: 2px 5px 5px 0px;
	font-size: 0.8em;
	text-align: right;
	color: #ffffff;
}

.logout
{
	float: right;
	margin: 2px 5px 5px 0px;
	font-size: 0.8em;
	text-align: right;
	color: #ffffff;
}

.reccount
{
	float: left;
	margin: 0px 5px 0px 0px;
	text-align: right;
	font-size: 0.9em;
	color: #FF8C00;
}

.viewpage
{
	float: right;
	margin: 0px 12px 0px 0px;
	text-align: right;
	font-size: 0.9em;
	color: #FF8C00;
}

.button
{
	clear: both;
	margin: 4px 5px 0px 0;
}

.seekbutton
{
	float: left;
	margin: 2px 5px 0px 0;
}

.seekrightbutton
{
	float: right;
	margin: 2px 0px 0px 5px;
}


.seekmidlebutton
{
	float: left;
	margin: 2px 5px 2px 0;
}

.seektopbutton
{
	float: left;
	margin: 0px 5px 4px 0;
}
.seekbuttonsmall
{
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 2px 2px 0px 0;
}

#title
{
	text-align: left;
	font-weight: bolder;
	background-color: #555555;
	color: #ffffff;
	padding: 1px 0px 1px 10px;
	margin: 0px 0px 0px 0px;
}

#mainmenu
{
	height: 20px;
	line-height: 20px;
}

#mainmenu a
{
	display: block;
}

#mainmenu a:hover
{
	color: Red;
	text-decoration: none;
	background-color: inherit;
}

#navigation
{
	height: 1.8em;
	line-height: 1.8em;
	width: 738px;
	background: #578bb8;
	color: #ffffff;
}

#navigation li
{
	float: left;
	list-style-type: none;
	border-right: px solid #ffffff;
	white-space: nowrap;
}

#navigation li a
{
	display: block;
	padding: 0 10px;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
	border-left: 2px solid #f0f0f0;
}

#navigation .selected, #navigation a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
	border-left: 2px solid #ff0066;
}

* html #navigation a
{
	width: 1%;
}

#categorymenu
{
	line-height: 1.4em;
	width: 738px;
	background: #696969;
	color: #ffffff;
}

#categorymenu ul
{
	border-bottom: 1px solid #ffffff;
}

#categorymenu li
{
	float: left;
	list-style-type: none;
	white-space: nowrap;
}

#categorymenu li a
{
	display: block;
	padding: 0 10px;
	font-size: 0.7em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
	border-left: 2px solid #f0f0f0;
}

#categorymenu .selected, #categorymenu a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
	border-left: 2px solid #ff0066;
}


#login
{
	float: right;
	width: 7em;
	text-align: right;
	margin-right: 6px;
}

#login a
{
	display: block;
	padding: 0 10px;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: inherit;
	color: #ffffff;
}

#logn a:hover
{
	background: #80b0da;
	color: #ffffff;
	text-decoration: none;
}


/**************** Content styles ****************/

#content
{
	float: left;
	width: 730px;
	font-size: 0.9em;
	padding: 0px 0px 0px 0px;
}

#content h2
{
	display: block;
	margin: 0 0 16px 0;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background-color: inherit;
}

#content h2 a
{
	font-weight: normal;
}

#content h3
{
	margin: 5px 0 5px 0;
	font-size: 1.1em;
	letter-spacing: -1px;
}

.contentdata
{
	float: left;
	width: 710px;
}

#contentborder
{
}

/**************** Admin Content Left/Right styles ****************/

#adminmenu
{
	clear: left;
	float: left;
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
}

#adminmenu ul
{
	list-style: none;
	width: 150px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1.1em;
}

#adminmenu li
{
	margin-bottom: 4px;
}

#adminmenu li a
{
	font-weight: bold;
	height: 20px;
	text-decoration: none;
	color: #505050;
	display: block;
	padding: 6px 0 0 10px;
	background: #f4f4f4;
	border-left: 2px solid #cccccc;
}

#adminmenu li a:hover
{
	background: #eaeaea;
	color: #467aa7;
}

#contentright
{
	float: none;
	width: auto;
	height: auto;
	font-size: 1em;
	padding: 0px 0px 0px 4px;
	margin: 0px 0px 0px 0px;
	background: #ffffff;
}

#contentright h2
{
	display: block;
	margin: 0 0 10px 0;
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background-color: inherit;
}

#contentright h2 a
{
	font-weight: normal;
}
#contentright h3
{
	margin: 0 0 5px 0;
	font-size: 1.4em;
	letter-spacing: -1px;
}


/**************** Data control styles *************/
fieldset
{
	text-align: left;
	padding: 0px 0px 4px 6px;
}

.fieldset-inner
{
	text-align: left;
	padding: 0px 10px 6px 10px;
	margin: 0px 10px 0px 0px;
}

/**************** Footer styles ****************/

#footer
{
	clear: both;
	width: 738px;
	padding: 1px 0;
	margin: 0 1px;
	font-size: 0.9em;
}

#footer p
{
	padding: 0;
	margin: 0;
	text-align: center;
}

#footer a
{
	background-color: inherit;
	font-weight: normal;
}

#footer a:hover
{
	color: #FF0033;
	background-color: inherit;
	text-decoration: underline;
}

/**************** Misc classes and styles ****************/

.validatorCallout
{
	background-color: #fffacd;
}

.clear
{
	clear: both;
}
.small
{
	font-size: 0.8em;
}
.hide
{
	display: none;
}
.textcenter
{
	text-align: center;
}
.textright
{
	text-align: right;
}
.important
{
	color: #f02025;
	background-color: inherit;
	font-weight: bold;
}

.box
{
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background-color: #fafbfc;
	color: #505050;
	line-height: 1.5em;
}

div.right
{
	float: right;
}

.admincontent
{
	width: 670px;
}

/*************** Table Styles ************/
.smallTableStyle
{
	width: 300px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #578bb8;
}

.tableStyle
{
	width: 650px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #578bb8;
}

.tableStyleBorderBlack
{
	width: 650px;
	border-width: 1px;
	border-collapse: collapse;
	border: solid 1px #000000;
}


.tdStyle
{
	padding-left: 5px;
	background-color: #578bb8;
	color: White;
}


.tdHeaderStyle
{
	width: 164px;
	height: 28px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}

.tdHeaderSmallStyle
{
	width: 70px;
	height: 28px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #ffffff;
	color: White;
}

.tdHeaderStyle2
{
	width: 138px;
	height: 28px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	color: White;
}

.tdHeaderSmallStyle2
{
	width: 70px;
	height: 28px;
	padding-left: 6px;
	background-color: #578bb8;
	border-bottom: solid 1px #578bb8;
	color: White;
}


.tdDataStyle
{
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #578bb8;
	border-bottom: solid 1px #578bb8;
}

.tdDataNoBorderStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.tdDataNumStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #578bb8;
	border-bottom: solid 1px #578bb8;
}

.tdDataNumNoBorderStyle
{
	padding-left: 2px;
	padding-right: 2px;
	border: solid 1px #ffffff;
	border-bottom: solid 1px #ffffff;
}

.tdDataStyle select, .tdDataStyle input, .tdDataStyle textarea
{
	font-size: 100%;
	padding-left: 2px;
}

.tdDataNoBorderStyle select, .tdDataNoBorderStyle input, .tdDataNoBorderStyle textarea
{
	font-size: 100%;
	padding-left: 2px;
}

.tdDataNumStyle select, .tdDataNumStyle input, .tdDataNumStyle textarea
{
	font-size: 100%;
	padding-right: 2px;
	text-align: right;
}

.tdDataNumNoBorderStyle select, .tdDataNumNoBorderStyle input, .tdDataNumNoBorderStyle textarea
{
	font-size: 100%;
	padding-right: 2px;
	text-align: right;
}

.tdDetailsViewStyle
{
	border-width: 1px;
	border: #808080;
}

.tdDetailsViewFieldHeaderStyle
{
	width: 150px;
	border-width: 1px;
	border: #d4d0c8;
}

.tdDetailsViewFieldDataStyle
{
	border-width: 1px;
	border: #d4d0c8;
}

/*************** Data Web Control Styles ************/

.DataWebControlStyle
{
	font-size: 100%;
}

.HeaderStyle
{
	background-color: #578bb8;
	color: White;
	font-weight: bold;
	text-align: center;
}

.HeaderStyle th
{
  padding :0px 4px 0px 4px;
}


.HeaderStyle a, .HeaderStyle a:visited
{
	color: White;
	padding: 0px 4px 0px 4px;
}

.VerHeaderStyle
{
	background-color: #578bb8;
	color: White;
	font-weight: bold;
	text-align: left;
	padding: 0px 0px 0px 4px;
	width: 134px;
}

.VerHeaderStyle a, .VerHeaderStyle a:visited
{
	color: White;
	padding: 0px 4px 0px 4px;
}


.FooterStyle
{
	background-color: #ffffff;
	color: #000000;
	text-align: right;
}
.FooterStyle td
{
	padding: 0px 6px 0px 6px;
}

.AlternatingRowStyle
{
	background-color: #ffffff;
}

.AlternatingRowStyle td
{
	padding: 0px 6px 0px 6px;
}

.RowStyle
{
	background-color: #ffffff;
}

.RowStyle td
{
	padding: 0px 6px 0px 6px;
}

.SelectedRowStyle
{
	background-color: White;
}

.PagerRowStyle
{
	background-color: #ffffff;
	text-align: right;
}

.SortHeaderRowStyle
{
	background-color: #578bb8;
	text-align: left;
	font-weight: bold;
	color: White;
}

.Pad
{
	padding: 0px 4px 0px 4px;
}

.topmenu
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
	padding: 0px 0px 0px 20px;
}

.topmenu:hover
{
	color: #578bb8;
	text-decoration: none;
	background-color: inherit;
	padding: 0px 0px 0px 20px;
}
