<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="AdGroupDetailPerformance.aspx.cs" Inherits="AdManage_AdGroupDetailPerformance"
	Title="LO[vÊÚ×Ò®Wv" ValidateRequest="false" %>

<asp:Content ID="ContentTitle" ContentPlaceHolderID="HolderContentTitle" runat="Server">
	<asp:Label ID="lblPgmTitle" runat="server" Text="LO[vÊÚ×Ò®Wv"></asp:Label>
</asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="HolderContent" runat="Server">
	<div class="admincontent">
		<fieldset class="fieldset">
			<legend>[õð]</legend>
			<asp:Panel runat="server" ID="pnlKey">
				<table border="0" style="width: 632px" class="tableStyle">
					<tr>
						<td class="tdHeaderStyle">
							TCg
						</td>
						<td class="tdDataStyle">
							<asp:DropDownList ID="lstSiteCd" runat="server" DataSourceID="dsSite" DataTextField="SITE_NM" DataValueField="SITE_CD" Width="232px" AutoPostBack="True"
								OnSelectedIndexChanged="lstSiteCd_SelectedIndexChanged">
							</asp:DropDownList>
						</td>
					</tr>
					<asp:PlaceHolder ID="plcAdGroup" runat="server">
						<tr>
							<td class="tdHeaderStyle">
								LO[vàZ
							</td>
							<td class="tdDataStyle">
								<asp:RadioButton ID="rdoAdGroupAll" runat="server" Text="IðO[vàZ" GroupName="AdGrouping" Checked="true" />
								<asp:RadioButton ID="rdoAdGroup" runat="server" Text="O[vàR[hÊ" GroupName="AdGrouping" />
							</td>
						</tr>
						<tr>
							<td class="tdHeaderStyle">
								LO[v
							</td>
							<td class="tdDataStyle">
								<asp:DropDownList ID="lstAdGroup" runat="server" DataSourceID="dsAdGroup" DataTextField="AD_GROUP_NM" DataValueField="AD_GROUP_CD" Width="232px" AutoPostBack="true"
									OnSelectedIndexChanged="lstAdGroup_SelectedIndexChanged">
								</asp:DropDownList>
							</td>
						</tr>
					</asp:PlaceHolder>
					<tr>
						<td class="tdHeaderStyle2">
							LR[h
						</td>
						<td class="tdDataStyle">
							<asp:TextBox ID="txtAdCd" runat="server" MaxLength="32" Width="232px"></asp:TextBox>
						</td>
					</tr>
				</table>
				áo^úwèâ
				<table border="0" style="width: 632px" class="tableStyle">
					<tr>
						<td class="tdHeaderStyle">
							WvJnú
						</td>
						<td class="tdDataStyle">
							<asp:DropDownList ID="lstFromYYYYRegist" runat="server" Width="56px">
							</asp:DropDownList>N
							<asp:DropDownList ID="lstFromMMRegist" runat="server" Width="40px">
							</asp:DropDownList>
							<asp:DropDownList ID="lstFromDDRegist" runat="server" Width="40px">
							</asp:DropDownList>ú&nbsp;O©ç
						</td>
					</tr>
					<tr>
						<td class="tdHeaderStyle2">
							WvI¹ú
						</td>
						<td class="tdDataStyle">
							<asp:DropDownList ID="lstToYYYYRegist" runat="server" Width="56px">
							</asp:DropDownList>N
							<asp:DropDownList ID="lstToMMRegist" runat="server" Width="40px">
							</asp:DropDownList>
							<asp:DropDownList ID="lstToDDRegist" runat="server" Width="40px">
							</asp:DropDownList>ú&nbsp;QSÜÅ
						</td>
					</tr>
				</table>
				<asp:Label ID="lblFromToName" runat="server" Text="áwüúwèâ"></asp:Label>
				<table border="0" style="width: 632px" class="tableStyle">
					<tr>
						<td class="tdHeaderStyle">
							WvJnú
						</td>
						<td class="tdDataStyle">
							<asp:DropDownList ID="lstFromYYYYPurchase" runat="server" Width="56px">
							</asp:DropDownList>N
							<asp:DropDownList ID="lstFromMMPurchase" runat="server" Width="40px">
							</asp:DropDownList>
							<asp:DropDownList ID="lstFromDDPurchase" runat="server" Width="40px">
							</asp:DropDownList>ú&nbsp;O©ç
						</td>
					</tr>
					<tr>
						<td class="tdHeaderStyle2">
							WvI¹ú
						</td>
						<td class="tdDataStyle">
							<asp:DropDownList ID="lstToYYYYPurchase" runat="server" Width="56px">
							</asp:DropDownList>N
							<asp:DropDownList ID="lstToMMPurchase" runat="server" Width="40px">
							</asp:DropDownList>
							<asp:DropDownList ID="lstToDDPurchase" runat="server" Width="40px">
							</asp:DropDownList>ú&nbsp;QSÜÅ
						</td>
					</tr>
				</table>
				<asp:Button runat="server" ID="btnListSeek" Text="õ" CssClass="seekbutton" OnClick="btnListSeek_Click" />
				<asp:Button runat="server" ID="btnClear" Text="NA" CssClass="seekbutton" OnClick="btnClear_Click" />
				<asp:Button runat="server" ID="btnCsv" Text="bruoÍ" CssClass="seekbutton" OnClick="btnCSV_Click" />
			</asp:Panel>
		</fieldset>
		<asp:Panel runat="server" ID="pnlInfo">
			<fieldset>
				<legend>[Ò®Wv]</legend>
				<asp:Panel ID="pnlGrid" runat="server" ScrollBars="auto" Height="400px">
					<asp:GridView ID="grdAdGroupDetail" runat="server" AutoGenerateColumns="False" ShowFooter="True" OnRowDataBound="grdAdGroupDetail_RowDataBound" SkinID="GridViewColor">
						<Columns>
							<asp:TemplateField HeaderText="¸ÞÙ°Ìß">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Left" Font-Size="Small" />
								<ItemTemplate>
									<asp:HyperLink ID="lnkAdGroup" runat="server" NavigateUrl='<%# string.Format("~/StatusManager/CastPerformance.aspx?sitecd={0}&adgroup={1}&from={2}&to={3}",lstSiteCd.SelectedValue,Eval("AD_GROUP_CD"),lstFromYYYYPurchase.SelectedValue + "/" + lstFromMMPurchase.SelectedValue + "/" + lstFromDDPurchase.SelectedValue,lstToYYYYPurchase.SelectedValue + "/" + lstToMMPurchase.SelectedValue + "/" + lstToDDPurchase.SelectedValue) %>'
										Text='<%# Eval("AD_GROUP_NM") %>' Enabled='<%# !this.IsManMode %>'></asp:HyperLink>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="º°ÄÞ">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Left" Font-Size="Small" />
								<ItemTemplate>
									<asp:HyperLink ID="lnkAd" runat="server" NavigateUrl='<%# GetAdLink() %>' Text='<%# GetAdNm() %>' Enabled='<%# !this.IsManMode %>'></asp:HyperLink>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:BoundField DataField="AD_NM" HeaderText="L¼" FooterText="<v>">
								<ItemStyle HorizontalAlign="Left" Font-Size="Small" />
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:BoundField>
							<asp:TemplateField HeaderText="±¸¾½">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblAccessCount" runat="server" Text='<%# GetValue(Eval("ACCESS_COUNT"),Eval("ACCESS_COUNT_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="o^">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblResistCount" runat="server" Text='<%# GetValue(Eval("REGIST_COUNT"),Eval("REGIST_COUNT_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="Û¸Þ²Ý">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblLoginCount" runat="server" Text='<%# GetValue(Eval("LOGIN_COUNT"),Eval("LOGIN_COUNT_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="Û¸Þ²Ý">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblLoginSuccessCount" runat="server" Text='<%# GetValue(Eval("LOGIN_SUCCESS_COUNT"),Eval("LOGIN_SUCCESS_COUNT_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="Û¸Þ²Ý<br/>(ÕÆ°¸)">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblLoginSuccessCountUnique" runat="server" Text='<%# GetValue(Eval("LOGIN_SUCCESS_COUNT_UNIQUE"),Eval("LOGIN_SUCCESS_COUNT_UNIQUE_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:TemplateField HeaderText="pPt.">
								<HeaderStyle CssClass="HeaderStyle" Font-Size="Small" />
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<ItemTemplate>
									<asp:Label ID="lblTotalUsedPoint" runat="server" Text='<%# GetValue(Eval("TOTAL_USED_POINT"),Eval("TOTAL_USED_POINT_AD")) %>'>
									</asp:Label>
								</ItemTemplate>
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:TemplateField>
							<asp:BoundField DataField="ORDINARY_SALES_AMT" HtmlEncode="false" HeaderText="ÊíÏ<br/>ãv" DataFormatString="{0}">
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:BoundField>
							<asp:BoundField DataField="POINT_BACK_SALES_AMT" HtmlEncode="false" HeaderText="Îß²ÝÄ±ÌØ<br/>ãv" DataFormatString="{0}">
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:BoundField>
							<asp:BoundField DataField="TOTAL_SALES_AMT" HtmlEncode="false" HeaderText="ãv" DataFormatString="{0}">
								<ItemStyle HorizontalAlign="Right" Font-Size="Small" />
								<FooterStyle HorizontalAlign="Right" Font-Size="Small" />
							</asp:BoundField>
						</Columns>
						<FooterStyle ForeColor="Black" BackColor="LightYellow" />
					</asp:GridView>
				</asp:Panel>
			</fieldset>
		</asp:Panel>
		<br />
	</div>
	<asp:ObjectDataSource ID="dsSite" runat="server" SelectMethod="GetNewVerList" TypeName="Site"></asp:ObjectDataSource>
	<asp:ObjectDataSource ID="dsAdGroup" runat="server" SelectMethod="GetList" TypeName="AdGroup" OnSelecting="dsAdGroup_Selecting">
		<SelectParameters>
			<asp:Parameter Name="pSiteCd" Type="String" />
		</SelectParameters>
	</asp:ObjectDataSource>
	<asp:ObjectDataSource ID="dsAdGroupMember" runat="server" SelectMethod="GetList" TypeName="SiteAdGroup" OnSelecting="dsAdGroupMember_Selecting">
		<SelectParameters>
			<asp:Parameter Name="pSiteCd" Type="String" />
			<asp:Parameter Name="pAdGroupCd" Type="String" />
		</SelectParameters>
	</asp:ObjectDataSource>
</asp:Content>
